{% extends "base.html" %}

{% block content %}
    <div class="container mt-4 p-0">
        <h1 class="mb-4 text-center">Sismos en Chile en tiempo real</h1>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
            {% for sismo in sismos %}
            <div class="col p-0 text d-flex justify-content-center">
                <div class="card d-flex flex-column m-1 info">
                    <div class="card-body">
                        <h5 class="card-title m-0 p-0">Magnitud: {{ sismo.magnitud }} ML</h5>
                        <h6 class="card-subtitle text-muted p-0 m-0">Profundidad: {{ sismo.profundidad }} Km</h6>
                        <p class="card-text p-0 m-0"><strong>Fecha:</strong> {{ sismo.fecha|date:"d M Y" }}, <strong>Hora:</strong> {{ sismo.fecha|time:"H:i" }}</p>
                        <p class="card-text p-0 m-0"><strong>Latitud:</strong> {{ sismo.latitud }}, <strong>Longitud:</strong> {{ sismo.longitud}}</p>
                        <p class="card-text p-0 m-0"><strong>Referencia Geográfica:</strong> {{ sismo.ref_geografica }}</p>
                        <div id="map_{{ sismo.id }}" class="map"></div>
                        <!-- Agrega aquí la lógica para mostrar la ubicación del sismo en un mapa -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


