{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Lista de Sismos en Chile</h1>
        <form method="post" action="{% url 'busqueda' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="fecha_busqueda">Buscar por fecha:</label>
                <input type="date" class="form-control" id="fecha_busqueda" name="fecha_busqueda">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        
        <div class="row mt-4">
            {% for sismo in sismos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Magnitud: {{ sismo.magnitud }} ML</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Profundidad: {{ sismo.profundidad }}</h6>
                        <p class="card-text">Fecha: {{ sismo.fecha|date:"d M Y" }}</p>
                        <p class="card-text">Hora: {{ sismo.fecha|time:"H:i" }}</p>
                        <p class="card-text">Latitud: {{ sismo.latitud }}</p>
                        <p class="card-text">Longitud: {{ sismo.longitud}}</p>
                        <p class="card-text">Profundidad (Km): {{ sismo.profundidad }}</p>
                        <p class="card-text">Referencia Geográfica: {{ sismo.ref_geografica }}</p>
                        <div id="map_{{ sismo.id }}" class="map"></div>
                        <!-- Agrega aquí la lógica para mostrar la ubicación del sismo en un mapa -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


